*{
	font-family: 'Titillium Web', sans-serif;
}

html, body{
	padding: 0;
	margin: 0;
	border-sizing: border-box;
	background-color: #F2F1F1;	
}

header,h1{
	margin: 0 auto;
	width: 100%;
	background-color: #C94C4C;
	padding: 0;
}

h1{
	color: white;
	text-align: center;
	padding: 10px;
}

.container{
	margin: 0 auto;
	padding: 20px 0 0 0;
	width: 70%;
}

table{
	background-color: #fff;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th{
	padding: 10px;
	font-size: 13px;
}

th,tr,td{

	border-bottom: #848484 solid 1px;
	/*border-right: #848484 solid 1px;*/
}

thead{
	background-color: #3773B5;
	border-bottom: #473E3F solid 1px;
	color:white;	
}

tr > td{
	padding: 10px;
}


input{
	background-color: inherit;
}

input[type=text]{
	
	height: 25px;
	width: 100%;
	outline: none;
}

input[type=button]{
	outline: none;
	border: none;
}

.datos , .numero{
	border: none;
}

.btn{
	background: #fff;
	width: 70px;
	padding: 8px;
	cursor: pointer;
	border-radius: 3px;
}

.success{
	background-color: #3FBF3F;
	color: white;
}

.danger{
	background-color: #c94c4c;
	color: white;
}

.primary{
	background-color: #325AF4;
	color: white;
}

.success:hover{
	background-color: #50C750;
}

.danger:hover{
	background-color: #D25A5A;
}

.input-sm{
	width: 10px;
}

.seleccionado{
	background: rgba(0,0,0,0.1);
}